{% extends "base.html" %}
{% load static %}
{% load query_transform %}

{% block title %}ПУБЛИЧНАЯ ОФЕРТА — Texnoas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/law.css'%}">
<body>
    <h1>ДОСТАВКА И ОПЛАТА</h1>

    <div class="company-info">
        <h3>ООО "Лесные Поляны"</h3>
        <p><strong>Адрес:</strong> 117041, г. Москва, вн.тер.г. муниципальный округ Южное Бутово, ул. Академика Понтрягина, д. 21, к. 1, помещ. 2/1</p>
        <p><strong>ИНН:</strong> 7727453895 | <strong>ОГРН:</strong> 1207700383175</p>
        <p><strong>Руководитель:</strong> Абдурагимов Шамиль Эльдерханович, генеральный директор</p>
    </div>

    <div class="delivery-method">
        <h2>Доставка СДЭК</h2>
        <p>Доставка осуществляется в пределах Российской Федерации транспортной компанией СДЭК.</p>

        <h3>Условия доставки:</h3>
        <ul>
            <li>Доставка заказов на сумму свыше <span class="highlight">10 000 рублей</span> осуществляется бесплатно.</li>
            <li>Правильно указывайте почтовый индекс, регион и город доставки.</li>
            <li>Стоимость и сроки доставки рассчитываются индивидуально на странице покупки.</li>
            <li>Сроки доставки:
                <ul>
                    <li>1-2 рабочих дня для Москвы</li>
                    <li>2-4 рабочих дня для Санкт-Петербурга</li>
                    <li>3-7 рабочих дней для большинства регионов России</li>
                    <li>до 22 дней для отдельных регионов (включая регионы Дальнего Востока)*</li>
                </ul>
            </li>
            <li>Срок доставки отсчитывается после отгрузки товара со склада.</li>
            <li>Отгрузка и доставка товара производится только в рабочие дни.</li>
            <li>После передачи заказа службе доставки вам будет отправлено SMS с ссылкой для выбора удобного интервала доставки.</li>
            <li>При выборе самовывоза из офиса СДЭК – срок хранения заказа не превышает 7 дней.</li>
        </ul>

        <h3>Важно:</h3>
        <p>При получении клиент должен проверить содержимое заказа. В случае отсутствия частей заказа, необходимо составить акт вместе с курьером.</p>
        <p class="note">*Время доставки может быть увеличено в дни специальных активностей при значительном увеличении объема заказов.</p>
    </div>

    <div class="delivery-method">
        <h2>Доставка в Постамат/PickPoint</h2>
        <p>Доставка осуществляется в пределах Российской Федерации транспортной компанией DPD.</p>

        <h3>Условия доставки:</h3>
        <ul>
            <li>Доставка возможна только на определенный модельный ряд</li>
            <li>Сроки доставки:
                <ul>
                    <li>3-5 рабочих дней для Москвы (в пределах МКАД)</li>
                    <li>4-6 рабочих дней для Санкт-Петербурга</li>
                    <li>4-7 рабочих дней для большинства регионов России</li>
                    <li>до 22 дней для отдельных регионов (включая регионы Дальнего Востока)*</li>
                </ul>
            </li>
            <li>Данный вид доставки доступен только при оплате картой на сайте</li>
            <li>Срок хранения заказа в постамате не превышает 7 дней</li>
        </ul>

        <h3>Важно:</h3>
        <p>При получении клиент должен проверить содержимое заказа. В случае отсутствия частей заказа, необходимо обратиться в службу поддержки.</p>
        <p class="note">*Время доставки может быть увеличено в сезоны пиковых нагрузок.</p>
    </div>

    <div class="payment-method">
        <h2>Методы оплаты</h2>

        <h3>Оплата картой онлайн</h3>
        <p>При оплате заказа банковской картой, обработка платежа происходит на защищенной странице процессинговой системы, которая прошла международную сертификацию.</p>
        <p>Применяемая технология передачи данных гарантирует безопасность по сделкам с Банковскими картами.</p>
        <p>В случае возврата денежные средства возвращаются на ту же карту, с которой производилась оплата.</p>

        <h3>Оплата по СБП (Система быстрых платежей)</h3>
        <p>Чтобы совершить оплату через СБП, покупатель должен выбрать соответствующий способ оплаты.</p>
        <p>После проведения оплаты через СБП формируется фискальный чек.</p>
        <p>Деньги отправляются на счет торговой организации после каждого платежа, через несколько секунд.</p>
    </div>
</body>
</html>
{% endblock %}